.committee-card{
    display: flex;
    gap: 1rem;
    margin: auto;
    border: 2px solid;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px #828282;
}

.committee-card span{
    color: rgb(83, 82, 82);
}

.committee-card img{
    width: 40%;
    border-radius: 1rem;
}

/* Style for Board of Member Page */

.committee-section{
   display: flex;
   flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    
}

.committee-section .committee-card{
    width: 45%;

}

/* vision and mission css */
.vision-container {
    padding:2.5rem 0 2.5rem 0;
  
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 1em 0;
    padding: 0;
  }
  .vision{
    padding-bottom: 20px;
  }

  .vm-heading{
    padding-left:2rem;
  }
  
  
  .vision-container div  p {
    line-height: 2.4rem;
    padding-left: 2rem;
    font-weight:500;
    font-size:large;
  
  }
  

@media only screen and (max-width: 1024px) {

    .committee-section .committee-card{
        width: 95%;
    
    }
}


@media only screen and (max-width: 468px) {


    /* Committee Page Responsiveness */
    .committee-section{
        padding: 1rem;
    }

.committee-section .committee-card{
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.committee-section .committee-card img{
    width: 100%;
}

}
