.college-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    
}

.course-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 20%;
    border-radius: 10px;
    padding: 1rem;

}

.course-card img{
    width: 120px;
}

.college-section .btn{
    width: 100%;
}


.faculties-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
}

.faculties-card-container .committee-card{
    width: 40%;
}

.faculties-card-container .committee-card img{
    height: 250px;
    object-fit: contain;
}

/* Tablets */

@media only screen and (max-width: 768px) and (min-width: 468px) {
    .faculties-card-container .committee-card{
        width: 60%;
        flex-direction: column;
        align-items: center;
    }

    .faculties-card-container .committee-card img{
        width: 75%;
        height:auto;
    }

    .course-card{
        width: 60%;
    }

}

/* Mobile Devices */

@media only screen and (max-width: 468px) {
    .faculties-card-container .committee-card{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .faculties-card-container .committee-card img{
        width: 80%;
        height: auto;
    }

    .course-card{
        width: 90%;
    }

}