
.image img {
  width: 100%;
  margin: auto;
  height: 70vh;
  object-fit: cover;
}

/* Info section */

.home-section-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 5px 5px 10px gray;
  width: 90%;
  margin: auto;
}

.home-section-card-container .info-card {
  flex: 1;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.info-card:hover {
  box-shadow: 5px 5px 10px gray;
}

.info-text h4, .info-text p {
  margin: 0;
}

/* Couter Section */

.counter-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.counter-section h1 {
  font-size: 3rem;
  color: #192f59;
}

.plus {
  color: rgb(236, 48, 48);
}

.counter-section p {
  font-size: 1.5rem;
  color: grey;
}

/* Home section */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.home-section span{
    text-align: center;
}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.home-section span {
  /* line-height: 0.5px; */
  font-size: 1.1rem;
}

.home-card {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 15px 50px;
  padding: 1.1rem;
  width: 350px;
  box-shadow: 5px 5px 10px gray;
}

.home-card img {
  aspect-ratio: 3/2;
  object-fit: contain;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

/* Home page responsiveness */

@media only screen and (max-width: 768px) {
  .image img {
    height: 50vh;
    width: 100%;
  }

}

.home-section .btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
}

@media only screen and (max-width: 468px) {

  .home-card img {
    width: 100%;
    aspect-ratio: unset;
  }

  .home-card-container {
    flex-direction: column;
  }

  .home-card {
    width: auto;
  }

  .home-section-card-container {
    grid-template-columns: 1fr;
  }

  .image img {
    height: 30vh;
    width: 100%;
  }

  .home-section {
    flex-direction: column;
  }

  .counter-section .counter h1 {
    font-size: 2.5rem;
  }
}
