.top-nav{
    background-color:#192F59;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 8vh;
}

.info-start ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    color: white;
}

.info-end ul {
    list-style: none;
    color: white;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.info-end ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.cta-button {
    color:white;
    background-color:#3DB166;
    font-size: 15.5px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button a{
    color: white !important;
    text-decoration: none;
    padding: 0.3rem;
    font-weight: bold;
}

.topDropbtn{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1rem;
    color:#fff;
    cursor: pointer;
}

.topmenu-dropdown-content{
    display: none;
    border: 2px solid black;
    position: absolute;
    background-color: #163269;
    padding: 0;
}

.quickLinks-submenu .dropdown-content li a{
    color: black;
    position: relative;
  }



.quickLinks-submenu .dropdown-content{
    min-width: 150px;
}


.nav-container-1{
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
    gap: 1rem;
}

.logo-container{
    display: flex;
    gap: 1rem;
}

.name-text{
    line-height: 5px;
    margin: auto;
}
.name-text a{
    text-decoration: none;
    color: black;
}

.name-text p{
    font-weight: 650;
}

.menu-icon{
    display: none;
}
.close-menu-icon{
    display: none;
}

.logo img {
    width:7.5rem;
    height: 7rem;
}


.nav-container-2{
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-links{
    display: flex;
    gap: 2rem;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-size: 1.25rem;
    color:#163269;
    position: relative;
}

.nav-links .dropbtn:hover{
    color:#3DB197;
    transition-duration: 0.6s;
    cursor: pointer;
}

.dropdown-content  li a{
    font-size: 1.1rem;
}

.nav-links a:hover {
    color:#3DB197;
    transition-duration: 0.6s;

}

.nav--visible {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        background-color: white;
  }

/* Underline effect for navbar links  */

.dropdown-content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3DB197;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}



/* Navbar Submenu */

.dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-height: 0px;
    min-width: 250px;
    overflow: hidden;
    z-index: 1;
    padding: 1rem;
    line-height: 2.2rem;
    animation: slideDown 0.5s ease-in-out;
  }

  @keyframes slideDown {
    0%{
        max-height: 0;
    }
    100%{
        max-height: 250px;
    }
  }


  .nav-links .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 1.25rem;
    color:#163269;
    
  }
  

.dropdown-content.submenu{
    display: block !important;
  }


/* Horizontal Scroll Effect */

.nav-headline{
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #EAEAEA;
    padding: 0.5rem;
  }

.scroll-container {
    white-space: nowrap;
    display: flex;
    animation: scrollText 20s linear infinite;
    
  }

  .scroll-container span {
    border-right: 2px solid #192F59; 
    padding: 0 20px; 
  }
  

  .scroll-container span a{
    color: black;
    text-decoration: none;
  }

  .scroll-container span a:hover{
    color: #3DB197;
    text-decoration: underline;
  }
  
  .scroll-container span:last-child {
    border-right: none; 
  }

  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }


  .scroll-container.paused {
    animation-play-state: paused;
  }


  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    background-color: #EAEAEA;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }

  /* Navbar Responsiveness */

  @media only screen and (max-width: 1074px) and (min-width: 768px) {

    .nav-links{
        gap: 0.6rem;
    }

  }  


  @media only screen and (max-width: 768px) {


    /* For Navbar */
    
    .nav-container-1 .name-text p:nth-child(1){
       display: none;
    }

    .nav-container-1{
        padding: 0.5rem 1.5rem;
        gap: 2rem;

    }

    .name-text {
        line-height: unset;
    }

    .menu-icon{
        display: block;
        font-weight: bolder;
    }

    .logo img {
        width:6rem;
        height: 6rem;
    }

    .nav-container-2{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
    }



    .nav-links{
        flex-direction: column;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 30px;     
    }

    .nav-links li a{
        color: white;
    }

    .close-menu-icon{
        display: block;
        position: absolute;
        color: white;
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .nav-container-2.active{
     width: 100%;
    }


    .nav-links .dropbtn{
        color: white;
    }

    .dropdown-content{
        position: relative;
        background-color: inherit;
        text-align: center;
        padding: 0;
        
    }
    .quickLinks-submenu .dropdown-content{
        position: absolute;
        background-color: #f9f9f9;
    }

    .dropdown-content li {
        margin-top: 5px;
    }

    .top-nav{
        font-size: 0.8rem;
    }
       
    .info-start ul li{
        display: none;
        
    }

    .topDropbtn{
        font-size: 0.8rem;
    }

    .info-start ul{
        padding: 5px;
    }

    .info-end ul {
        gap: 1rem;
        padding: 0;
    }
  }


  @media only screen and (max-width: 468px){

    .info-end .top-nav-links > li:nth-child(2){
        display: none;
    }
    
    .info-end .top-nav-links > li:nth-child(3){
        display: none;
    }
  }