
/* Academics Overview Page */
 
.text-container {
   width: 70%;
   margin: auto;
   padding: 1rem;

}

.text-container h2 {
    border-bottom: 2px solid rgb(122, 116, 116);
    font-family:"lato";
    font-size: 40px;

}

.text-container h3 {
    font-size: 30px;
    color:#192F59;
}

.text-container p{
    line-height: 1.5rem;
    font-size:large;
}





/* Scholarship Page */
.box-heading{
    display: flex;
    justify-content: center;
    height: 50vh;
}
.box-heading img{
width: 40%;
}

.box-heading div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #192F59;
    width: 50%;
    padding: 2rem;
}

.box-heading div h1{
    color: #fff;
}

.box-heading div p{
    color: #fff;
    line-height: 1.5rem;
}

.scholarship-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}



/* Timetable Page */

.timetable-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {


        .timetable-section{
            flex-direction: column;
            overflow-x: auto;
        }
    
        .timetable-section img{
            width: 100%;
        }
      
   

    .box-heading{
        flex-direction:column;
        align-items: center;
        height: auto;

    }

    .box-heading div h1{
        font-size: 1.6rem;
    }

    .box-heading img{
        width: 100%;
    }

    .box-heading div{
        width: 100%;
        padding: 0rem;
    }

    .box-heading div p{
        padding: 0 1rem;
        text-align: center;
    }

    .text-container {
        width: 90%;
     
     }
}