@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.footer{
    font-family: "inter";
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #192F59;
    padding:1rem;
    background-image: url('../../Assets/Footer/shape-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-container h3 {
    color:white;
}

.about-school{
    line-height: 2rem;
}

.about-school p {
    color: white;

}

#quick-links img {
    display: block;
    height:8rem;
    width:8rem;
    margin: auto;
    
}

.footer p i {
    color:#FDC800;
}

.footer ul li {
    list-style: none;
    line-height: 2.1rem;

}
 .footer ul li i {
    color:#FDC800;
    
 }

.footer ul li a {
    text-decoration: none;
    color:white;
    font-family: "inter";
}

.footer-bottom{
    background-color: #0f1f3d;
    color: white;
    text-align: center;
    padding: 1rem;

}

.footer-bottom p{
    margin: 0;
}

@media only screen and (max-width: 768px) {

    .footer-container{
        justify-content: unset;
        background-image: none;
    }

}