body {
  margin: 0;
  padding: 0;
}

p{
  text-align: justify;
}

/* Google Translator  */

.goog-te-gadget-simple{
  padding: 5px !important;
  border: 1px solid;
  border-radius: 1rem;
  background-color: #192F59 !important;

}
.goog-te-gadget-simple span{
  color: #fff !important;
}

.goog-te-gadget-simple img {
  display: none;
}


/* Css for tabs for vision and mission section */
.container {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 1rem;
}

.container img{
  width: 20%;
  object-fit: contain;
}

.box {
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  background-color: #fff;
  border-radius: 3px;
  overflow: auto;
  width: 60%;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;

}

.tab-list::before {
  content: '';
  display: block;
  height: 2px;
  width: 33.333%;
  position: absolute;
  bottom: 0;
  background-color: #192F59;
  transition: .3s;
}

.tab-item {
  flex: 1;
  text-align: center;
  transition: .3s;
  opacity: 0.5;
}

.tab-toggle {
  display: none;
}

.tab-content {
  display: none;
}

.tab-content ul li{
  line-height: 2rem ;
}

.tab-toggle:nth-child(1):checked ~ .tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-list .tab-item:nth-child(2) {
  opacity: 1;
}

.tab-toggle:nth-child(2):checked ~ .tab-list::before {
  transform: translateX(200%);
}



.tab-toggle:nth-child(1):checked ~ .tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-container .tab-content:nth-child(2){
   display: block;
}

.tab-trigger {
  display: block;
  padding: 10px 0;
  cursor: pointer;
}

.tab-container {
  padding: 15px 30px;
}

/* Override some react Slick style */

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

.slick-next {
  right: 16px !important;
  z-index: 1;
}

.slick-prev::before {
  color: #fff !important;
  font-weight: bold;
  font-size: 30px !important;
}

.slick-next::before {
  color: #fff !important;
  font-weight: bold;
  font-size: 30px !important;
}

/* Scroll to top */
.scroll-to-top {
  background-color: #445c8a !important;
  z-index: 0 !important;
}

/* Image viewer for gallery  */

.styles-module_navigation__1pqAE{
  -webkit-tap-highlight-color: transparent;
}

.styles-module_wrapper__1I_qj{
  z-index: 2 !important;
}


.main-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Box Main Heading  */

.box-heading {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.box-heading img {
  width: 40%;
}

.box-heading div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #192f59;
  width: 50%;
  padding: 2rem;
}

.box-heading div h1 {
  color: #fff;
}

.box-heading div p {
  color: #fff;
  line-height: 1.5rem;
}

.heading {
  text-align: center;
  padding: 1rem;
}

.btn {
  font-size: 1rem;
  border: 1px solid #192f59;
  border-radius: 0.5rem;
  background-color: #213a68;
  padding: 10px 15px;
  margin: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background-color: #375283;
  color: white;
}

.wrap-container {
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-container h1 {
  width: 80%;
}

.wrap-container .btn {
  background-color: #ec3030;
  color: #fff;
}

/* Global Css For Tables */

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td,
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  font-weight: normal;
}

.tg .tg-8d8j {
  text-align: center;
  vertical-align: bottom;
}

.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}


/* Text Container -> Used in pages like Academics, Admission, department etc. */


.text-container {
  width: 70%;
  margin: auto;
  padding: 1rem;

}

.text-container h2 {
   border-bottom: 2px solid rgb(122, 116, 116);
   font-family:"lato";
   font-size: 40px;

}

.text-container h3 {
   font-size: 30px;
   color:#192F59;
}

.text-container p{
   line-height: 1.5rem;
   font-size:large;
}



/* Responsive styles using media queries */
@media only screen and (max-width: 600px) {
  .tg td,
  .tg th {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: center;
  }

  .container img{
    width: 50%;
  }
  .box{
    width: unset;
  }

  .goog-te-gadget-simple{
    padding: 5px !important;
  }

  .box-heading {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .box-heading div h1 {
    font-size: 1.6rem;
  }

  .box-heading img {
    width: 100%;
  }

  .box-heading div {
    width: 100%;
    padding: 0rem;
  }

  .box-heading div p {
    padding: 0rem 1rem 1rem 1rem;
  }

  .text-container {
    width: 90%;
    padding: 0;
  }

}




