
.sub-container {
    background-color: rgb(239, 231, 231);
    height:4rem;
}

.feature {
    background-color: #192F59;


}

.feature ul {
    width: 90%;
     margin: auto;
     padding:1rem;
}

.feature li {
    color:#d2d0ec;
    line-height: 1.5rem;
    margin-top: 1rem;
    list-style-type: disc;
    
}

.sub-heading{
    font-size: 1.5rem;
    text-align: center;
    padding-top:17px;
 }

.facilities-cover .box-heading{
    height: unset;
}

 .facilities-image {
    display:flex;
    justify-content: space-evenly;
    margin-top:2rem;
    flex-wrap: wrap;
    gap: 1rem;
    
 }


 .facilities-image img{

    height:250px;
    width: 400px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px black;
    object-fit: cover;
}

 .facilities-image img:hover{
    scale:1.05;
    transition-duration: 1s;
}

.whole-container {
    padding:25px 0 25px 0;
}

@media only screen and (max-width: 768px) {

    .facilities-image img{
        width: 350px;
    }


}
